
body {
  background-color: #f0e8c5;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.todo {
  background: magenta;
  display: flex;
  overflow: hidden;
}

.todo-text {
  flex-grow: 1;
}

.controls {
  background: lightseagreen;
  display: inline-block;
  margin-right: -100%;
}

.controls.visible {
  margin-right: 0;
}

.todo-text, .controls {
  padding: 0.2rem 0;
}

